.formulario {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.form-busca-cep input[type=text] {
    width: 300px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-busca-cep button {
    width: 200px;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .form-busca-cep button:hover {
    background-color: #4CAF50;
  }
  


.resultados-busca {
    background-color: #5281e1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    border: 1px solid #444;
    border-radius: 4px;
    padding: 24px;
    margin: 24px auto;
}

.resultados-busca h2 {
    margin: 0 0 12px 0;
}

.resultados-busca p {
    margin: 0 0 2px 0;
}



